.pre_header {
    height: 30px;
    background-color: #F9F0EE;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    border-bottom: 1px solid #C4C4C4;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 35%;
}

.navbar_items{
    position: relative;
    display: inline-block;
}

.item_wrapper{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.arrow_img{
    display: flex;
    align-items: center;
    width: 12px;
    height: 6px;
    margin-left: 4px;
}

.hidden_menu{
    border-radius: 0 0 15px 15px;
    background-color: #F9F0EE;
    padding: 10px;
    position: absolute;
    right: 0;
    transition: 0.5s;
}

.hidden_menu_hide {
    opacity: 0;
    transform: translateY(-120px);
}

.hidden_menu_show {
    opacity: 1;
    transform: translateY(11px);
}

.hidden_menu_item{
    margin: 10px;
}