.pre_header {
    height: 30px;
    background-color: #F9F0EE;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 35%;
}

.navbar_items{
    display: flex;
    align-items: center;
}

.arrow_img{
    display: flex;
    align-items: center;
    width: 12px;
    height: 6px;
    margin-left: 4px;
}

.master_class_navbar{
    /*padding-right: 129px;*/
}